@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html{
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Oxygen";
}

.top-header{
    background-color: #459ad6;
}
.top-nav{
    text-align: center;
}
.top-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-nav a{
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
    text-shadow: black 1px 1px;
}
.top-nav a:hover{
    background: rgb(223, 0, 0);
}
.top-header-title{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}
.top-header h2{
    font-size: 2em;
    font-family: 'Fredoka One', cursive;
    text-shadow: white 3px 3px;
}
.top-header-logo{
    margin: .5em;
    width: 10%;
}
header li{
    background-color: #fb0;
    padding: 5px;
}
